@import url('https://fonts.googleapis.com/css?family=Libre%20Baskerville&display=swap');

@font-face {
    font-family: 'Lemon Tuesday';
    src: url("Lemon-Tuesday.ttf") format("truetype");
}

$bg-color: #332B2A;
$txt-color: #F6F1EE;
$highlight: linear-gradient(to right,
        #822708 0,
        #9D4D2A 22%,
        #AE5F40 45%,
        #D29175 50%,
        #AE5F40 55%,
        #9D4D2A 78%,
        #822708 100%) //radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    //radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
;

body {
    font-family: 'Libre Baskerville' !important;
}

.bg-color {
    background-color: $bg-color !important;
}

#brand {
    font-family: 'Lemon Tuesday' !important;
    font-size: 2rem;
    color: $txt-color !important;
    text-shadow: 2px 2px #822708;
}

.navbar-item,
.navbar-link {
    background-image: $highlight !important;
    color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 0.8rem;

    &:hover {
        background-clip: unset;
        -webkit-background-clip: unset;
        background: $bg-color !important;
        color: $txt-color !important;
    }
}

.button:hover {
    background-image: $highlight !important;
}